1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver
from selenium.webdriver.common.by import By

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

In [2]:
# URL of the Wikipedia page
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"

# Send a GET request to the URL
response = requests.get(url)

# Create a BeautifulSoup object with the HTML content
soup = BeautifulSoup(response.content, "html.parser")

# Find the table that contains the video details using class
table = soup.find("table", class_="wikitable")

# Find all the rows in the table, excluding the header row
rows = table.find_all("tr")[1:]

# Iterate over each row and extract the video details of the first 30
for row in rows[0:30]:
    try: 
        # Get the columns of the current row
        columns = row.find_all("td")

        # Extract the desired information from the columns
        rank = columns[0].text.strip()
        Name = columns[1].text.strip()
        Artist = columns[2].text.strip()
        views = columns[3].text.strip()
        Pdate=columns[4].text.strip()  
        
        print("Rank:", rank)
        print("Title:", Name)
        print("Uploader:", Artist)
        print("Views:", views)
        print("Publication date",Pdate)
        print("-" * 40)
        
    except StaleElementReferenceException as e:             # Handling StaleElement Exception   
        print("Stale Exception")    
         # Print the extracted information

Rank: 1.
Title: "Baby Shark Dance"[6]
Uploader: Pinkfong Baby Shark - Kids' Songs & Stories
Views: 13.01
Publication date June 17, 2016
----------------------------------------
Rank: 2.
Title: "Despacito"[9]
Uploader: Luis Fonsi
Views: 8.20
Publication date January 12, 2017
----------------------------------------
Rank: 3.
Title: "Johny Johny Yes Papa"[16]
Uploader: LooLoo Kids
Views: 6.73
Publication date October 8, 2016
----------------------------------------
Rank: 4.
Title: "Bath Song"[17]
Uploader: Cocomelon ‚Äì Nursery Rhymes
Views: 6.26
Publication date May 2, 2018
----------------------------------------
Rank: 5.
Title: "Shape of You"[18]
Uploader: Ed Sheeran
Views: 6.02
Publication date January 30, 2017
----------------------------------------
Rank: 6.
Title: "See You Again"[21]
Uploader: Wiz Khalifa
Views: 5.94
Publication date April 6, 2015
----------------------------------------
Rank: 7.
Title: "Phonics Song with Two Words"[26]
Uploader: ChuChu TV
Views: 5.36
Publication date March 6, 2014
----------------------------------------
Rank: 8.
Title: "Wheels on the Bus"[27]
Uploader: Cocomelon ‚Äì Nursery Rhymes
Views: 5.36
Publication date May 24, 2018
----------------------------------------
Rank: 9.
Title: "Uptown Funk"[28]
Uploader: Mark Ronson
Views: 4.96
Publication date November 19, 2014
----------------------------------------
Rank: 10.
Title: "Learning Colors ‚Äì Colorful Eggs on a Farm"[29]
Uploader: Miroshka TV
Views: 4.91
Publication date February 27, 2018
----------------------------------------
Rank: 11.
Title: "Gangnam Style"[30]
Uploader: Psy
Views: 4.83
Publication date July 15, 2012
----------------------------------------
Rank: 12.
Title: "Masha and the Bear ‚Äì Recipe for Disaster"[35]
Uploader: Get Movies
Views: 4.55
Publication date January 31, 2012
----------------------------------------
Rank: 13.
Title: "Dame Tu Cosita"[36]
Uploader: El Chombo
Views: 4.38
Publication date April 5, 2018
----------------------------------------
Rank: 14.
Title: "Axel F"[37]
Uploader: Crazy Frog
Views: 3.95
Publication date June 16, 2009
----------------------------------------
Rank: 15.
Title: "Sugar"[38]
Uploader: Maroon 5
Views: 3.89
Publication date January 14, 2015
----------------------------------------
Rank: 16.
Title: "Roar"[39]
Uploader: Katy Perry
Views: 3.82
Publication date September 5, 2013
----------------------------------------
Rank: 17.
Title: "Counting Stars"[40]
Uploader: OneRepublic
Views: 3.81
Publication date May 31, 2013
----------------------------------------
Rank: 18.
Title: "Baa Baa Black Sheep"[41]
Uploader: Cocomelon ‚Äì Nursery Rhymes
Views: 3.69
Publication date June 25, 2018
----------------------------------------
Rank: 19.
Title: "Sorry"[42]
Uploader: Justin Bieber
Views: 3.67
Publication date October 22, 2015
----------------------------------------
Rank: 20.
Title: "Waka Waka (This Time for Africa)"[43]
Uploader: Shakira
Views: 3.63
Publication date June 4, 2010
----------------------------------------
Rank: 21.
Title: "Thinking Out Loud"[44]
Uploader: Ed Sheeran
Views: 3.61
Publication date October 7, 2014
----------------------------------------
Rank: 22.
Title: "Lakdi Ki Kathi"[45]
Uploader: Jingle Toons
Views: 3.56
Publication date June 14, 2018
----------------------------------------
Rank: 23.
Title: "Dark Horse"[46]
Uploader: Katy Perry
Views: 3.54
Publication date February 20, 2014
----------------------------------------
Rank: 24.
Title: "Perfect"[47]
Uploader: Ed Sheeran
Views: 3.48
Publication date November 9, 2017
----------------------------------------
Rank: 25.
Title: "Faded"[48]
Uploader: Alan Walker
Views: 3.47
Publication date December 3, 2015
----------------------------------------
Rank: 26.
Title: "Let Her Go"[49]
Uploader: Passenger
Views: 3.46
Publication date July 25, 2012
----------------------------------------
Rank: 27.
Title: "Humpty the train on a fruits ride"[50]
Uploader: Kiddiestv Hindi ‚Äì Nursery Rhymes & Kids Songs
Views: 3.46
Publication date January 26, 2018
----------------------------------------
Rank: 28.
Title: "Girls Like You"[51]
Uploader: Maroon 5
Views: 3.43
Publication date May 31, 2018
----------------------------------------
Rank: 29.
Title: "Bailando"[52]
Uploader: Enrique Iglesias
Views: 3.41
Publication date April 11, 2014
----------------------------------------
Rank: 30.
Title: "Lean On"[53]
Uploader: Major Lazer
Views: 3.40
Publication date March 22, 2015
----------------------------------------

3 :Scrape the details of State-wise GDP ofIndia fromstatisticstime.com. 
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code

In [10]:
# Open images.google.com
driver = webdriver.Chrome()
urls="http://statisticstimes.com/"
driver.get(urls)

#//*[@id="top"]/div[2]/div[2]/button

In [12]:
economy = driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/button')   # Click on the economy button by XPATH
economy.click()

ind = driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/div/a[3]')       # Click on the India button by XPATH
ind.click()

gdp = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')   # Click on the GDP by states
gdp.click()

In [13]:
Rank=[]
State =[]
GDP=[]
GSDP_Current=[]
GSDP_Previous=[]
Share=[]

In [14]:
#scraping the Rank 
r=driver.find_elements(By.XPATH,"//td[@class='data1']")
for i in r:
    try :
        Rank.append(i.text)
    except:
        Rank.append("--")

In [15]:
#scraping the State 
St=driver.find_elements(By.XPATH,"//td[@class='name']")
for i in St:
    try:
        State.append(i.text)
    except:
        State.append("--")

In [16]:
#scraping the GDP 
gdp=driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[6]")
for i in gdp:
    try:
        GDP.append(i.text)
    except:
        GDP.append("--")

In [17]:
#scraping the Share 
shr=driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[5]")
for i in shr:
    try:
        Share.append(i.text)
    except:
        Share.append("--")

In [18]:
#scraping the GSDP_Current 
GSDP=driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[4]")
for i in GSDP:
    try:
        GSDP_Current.append(i.text)
    except:
         GSDP_Current.append("--")

In [19]:
#scraping the GSDP_Previous 
GSDP_P=driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[8]")
for i in GSDP_P:
    try:
        GSDP_Previous.append(i.text)
    except:
         GSDP_Previous.append("--")

In [20]:
State_GDP=pd.DataFrame([])
State_GDP['Rank']=Rank[:33]
State_GDP['State']=State[:33]
State_GDP['Share In GDP']=Share[:33]
State_GDP['GDP of State']=GDP[:33]
State_GDP['GSDP_Current']=GSDP_Current[:33]
State_GDP['GSDP_Previous']=GSDP_Previous[:33]
State_GDP

,Rank,State,Share In GDP,GDP of State,GSDP_Current,GSDP_Previous
0,1,Maharashtra,13.94%,399.921,"2,632,792","2,039,074"
1,2,Tamil Nadu,8.63%,247.629,"1,630,208","1,215,307"
2,3,Uttar Pradesh,8.39%,240.726,"1,584,764","1,123,982"
3,4,Gujarat,7.96%,228.290,"1,502,899","1,186,379"
4,5,Karnataka,7.91%,226.806,"1,493,127","1,091,077"
5,6,West Bengal,5.77%,165.556,"1,089,898","739,525"
6,7,Rajasthan,4.99%,143.179,"942,586","677,428"
7,8,Andhra Pradesh,4.57%,131.083,"862,957","621,301"
8,9,Telangana,4.56%,130.791,"861,031","612,828"
9,10,Madhya Pradesh,4.29%,122.977,"809,592","522,009"
10,11,Kerala,4.14%,118.733,"781,653","559,412"
11,12,Delhi,4.10%,117.703,"774,870","590,569"
12,13,Haryana,3.89%,111.519,"734,163","531,085"
13,14,Bihar,2.81%,80.562,"530,363","375,651"
14,15,Punjab,2.79%,79.957,"526,376","397,669"
15,16,Odisha,2.58%,74.098,"487,805","376,877"
16,17,Assam,1.67%,47.982,"315,881","234,048"
17,18,Chhattisgarh,1.61%,46.187,"304,063","231,182"
18,19,Jharkhand,1.57%,45.145,"297,204","224,986"
19,20,Uttarakhand,1.30%,37.351,"245,895","193,273"
20,21,Jammu & Kashmir,0.83%,23.690,"155,956","112,755"
21,22,Himachal Pradesh,0.81%,23.369,"153,845","117,851"
22,23,Goa,0.39%,11.115,"73,170","57,787"
23,24,Tripura,0.26%,7.571,"49,845","36,963"
24,25,Chandigarh,0.22%,6.397,"42,114","31,192"
25,26,Puducherry,0.18%,5.230,"34,433","23,013"
26,27,Meghalaya,0.18%,5.086,"33,481","24,682"
27,28,Sikkim,0.15%,4.363,"28,723","18,722"
28,29,Manipur,0.15%,4.233,"27,870","19,300"
29,30,Nagaland,0.14%,4.144,"27,283","17,647"
30,31,Arunachal Pradesh,0.13%,3.737,"24,603","16,676"
31,32,Mizoram,0.12%,3.385,"22,287","16,478"
32,33,Andaman & Nicobar Islands,-,-,-,-

4. Scrape the details of trending repositories on Github.com. 
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [28]:
# Open images.google.com
driver = webdriver.Chrome()
urls="https://github.com/trending"
driver.get(urls)

In [29]:
Repository_title =[]
Repository_descriptiom=[]
Contributor_count=[]
Language=[]

In [30]:
#scraping the Repositor_Name 
RN=driver.find_elements(By.XPATH,"//span[@class='text-normal']")
for i in RN:
    try:
        Repository_title.append(i.text)
    except:
         Repository_title.append("--")
print(len(Repository_title))

25

In [31]:
#scraping the Description 
des=driver.find_elements(By.XPATH,"//p[@class='col-9 color-fg-muted my-1 pr-4']")
for i in des:
    try:
        Repository_descriptiom.append(i.text)
    except:
         Repository_descriptiom.append("--")
print(len(Repository_descriptiom))

25

In [32]:
#scraping the Language 
Lang=driver.find_elements(By.XPATH,"//span[@itemprop='programmingLanguage']")
for i in Lang:
    try:
        Language.append(i.text)
    except:
        Language.append("--")
print(len(Language))

19

In [33]:
#scraping the Muted_Link And Star 
ml=driver.find_elements(By.XPATH,"//a[@class='Link--muted d-inline-block mr-3']")
for i in ml:
    try:
        Contributor_count.append(i.text)
    except:
         Contributor_count.append("--")
print(len(Contributor_count))

50

In [34]:
Trending_Repository=pd.DataFrame([])
Trending_Repository['Name']=Repository_title[:19]
Trending_Repository['Description']=Repository_descriptiom[:19]
Trending_Repository['Language']=Language[:19]
Trending_Repository['Conutrybuted']=Contributor_count[:19]
Trending_Repository

,Name,Description,Language,Conutrybuted
0,ixahmedxi /,Open Source Education Platform,TypeScript,"3,393"
1,0xpayne /,Easily migrate your codebase from one framewor...,Python,239
2,public-apis /,A collective list of free APIs,Python,"5,222"
3,geekan /,The Multi-Agent Meta Programming Framework: Gi...,Python,446
4,PKU-YuanGroup /,‰∏≠ÊñáÊ≥ïÂæãÂ§ßÊ®°Âûã,TypeScript,"247,452"
5,gibbok /,The Concise TypeScript Book: A Concise Guide t...,C++,"28,409"
6,li-plus /,C++ implementation of ChatGLM-6B & ChatGLM2-6B,TypeScript,"1,482"
7,Tohrusky /,2^x Image Super-Resolution,C++,204
8,ztxz16 /,Á∫Øc++ÁöÑÂÖ®Âπ≥Âè∞llmÂä†ÈÄüÂ∫ìÔºåÊîØÊåÅpythonË∞ÉÁî®Ôºåchatglm-6BÁ∫ßÊ®°ÂûãÂçïÂç°ÂèØËææ100...,Dart,"3,334"
9,GopeedLab /,High speed downloader that supports all platfo...,Rust,288
10,karanpratapsingh /,Learn how to design systems at scale and prepa...,Python,"2,428"
11,FuelLabs /,üå¥ Empowering everyone to build reliable and ef...,Rust,193
12,pittcsc /,Collection of Summer 2023 & Summer 2024 tech i...,TypeScript,521
13,donnemartin /,Learn how to design large-scale systems. Prep ...,Python,143
14,FuelLabs /,Rust full node implementation of the Fuel v2 p...,Python,"1,794"
15,bacen /,Documenta√ß√£o e arquivos de configura√ß√£o para p...,Python,217
16,BradyFU /,‚ú®‚ú®Latest Papers and Datasets on Multimodal Lar...,TypeScript,722
17,MunGell /,A list of awesome beginners-friendly projects.,Lua,92
18,python /,Optional static typing for Python,Python,"5,409"

 6 :Scrape the details of Highest sellingnovels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [11]:
# Open images.google.com
driver = webdriver.Chrome()
urls="https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(urls)

In [12]:
Bname=[]
Aname=[]
Vsold=[]
Publisher=[]
Genre=[]

In [13]:
#scraping the Name of the book by XPATH
Bnames=driver.find_elements(By.XPATH,"/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[2]")
for i in Bnames:
    if i.text is None :
        Bname.append("--") 
    else:
        Bname.append(i.text)
print(len(Bname))

100

In [14]:
#scraping the Name of the book Author by Xpath
Anames=driver.find_elements(By.XPATH,"/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[3]")
for i in Anames:
    if i.text is None :
        Aname.append("--") 
    else:
        Aname.append(i.text)
print(len(Aname))

100

In [15]:
#scraping  the volume of the book sold by Xpath
Vsolds=driver.find_elements(By.XPATH,"/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[4]")
for i in Vsolds:
    if i.text is None :
        Vsold.append("--") 
    else:
        Vsold.append(i.text)
print(len(Vsold))

100

In [16]:
#scraping the Name of  publisher  by Xpath
PS=driver.find_elements(By.XPATH,"/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[5]")
for i in PS:
    if i.text is None :
        Publisher.append("--") 
    else:
        Publisher.append(i.text)
print(len(Publisher))

100

In [17]:
#scraping the novel genre  by Xpath
genres=driver.find_elements(By.XPATH,"/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[5]")
for i in genres:
    if i.text is None :
        Genre.append("--") 
    else:
        Genre.append(i.text)
print(len(Genre))

100

In [19]:
bk_Combined=pd.DataFrame([]) # Create a data frame to store the retrieved books
bk_Combined['Book_name']=Bname[:25]  # first 25 scrapped data
bk_Combined['Author_name']=Aname[:25] # first 25 scrapped data
bk_Combined['Genre']=Genre[:25] # first 25 scrapped data
bk_Combined['Publisher']=Publisher[:25] # first 25 scrapped data
bk_Combined['Volumes_sold']=Vsold[:25] # first 25 scrapped data
bk_Combined # display only the 25 scrapped data

,Book_name,Author_name,Genre,Publisher,Volumes_sold
0,"Da Vinci Code,The","Brown, Dan",Transworld,Transworld,"5,094,805"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.",Bloomsbury,Bloomsbury,"4,475,152"
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.",Bloomsbury,Bloomsbury,"4,200,654"
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",Bloomsbury,Bloomsbury,"4,179,479"
4,Fifty Shades of Grey,"James, E. L.",Random House,Random House,"3,758,936"
5,Harry Potter and the Goblet of Fire,"Rowling, J.K.",Bloomsbury,Bloomsbury,"3,583,215"
6,Harry Potter and the Chamber of Secrets,"Rowling, J.K.",Bloomsbury,Bloomsbury,"3,484,047"
7,Harry Potter and the Prisoner of Azkaban,"Rowling, J.K.",Bloomsbury,Bloomsbury,"3,377,906"
8,Angels and Demons,"Brown, Dan",Transworld,Transworld,"3,193,946"
9,Harry Potter and the Half-blood Prince:Childre...,"Rowling, J.K.",Bloomsbury,Bloomsbury,"2,950,264"
10,Fifty Shades Darker,"James, E. L.",Random House,Random House,"2,479,784"
11,Twilight,"Meyer, Stephenie","Little, Brown Book","Little, Brown Book","2,315,405"
12,"Girl with the Dragon Tattoo,The:Millennium Tri...","Larsson, Stieg",Quercus,Quercus,"2,233,570"
13,Fifty Shades Freed,"James, E. L.",Random House,Random House,"2,193,928"
14,"Lost Symbol,The","Brown, Dan",Transworld,Transworld,"2,183,031"
15,New Moon,"Meyer, Stephenie","Little, Brown Book","Little, Brown Book","2,152,737"
16,Deception Point,"Brown, Dan",Transworld,Transworld,"2,062,145"
17,Eclipse,"Meyer, Stephenie","Little, Brown Book","Little, Brown Book","2,052,876"
18,"Lovely Bones,The","Sebold, Alice",Pan Macmillan,Pan Macmillan,"2,005,598"
19,"Curious Incident of the Dog in the Night-time,The","Haddon, Mark",Random House,Random House,"1,979,552"
20,Digital Fortress,"Brown, Dan",Transworld,Transworld,"1,928,900"
21,"Short History of Nearly Everything,A","Bryson, Bill",Transworld,Transworld,"1,852,919"
22,"Girl Who Played with Fire,The:Millennium Trilogy","Larsson, Stieg",Quercus,Quercus,"1,814,784"
23,Breaking Dawn,"Meyer, Stephenie","Little, Brown Book","Little, Brown Book","1,787,118"
24,"Very Hungry Caterpillar,The:The Very Hungry Ca...","Carle, Eric",Penguin,Penguin,"1,783,535"

7. Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [36]:
# Open images.google.com
driver = webdriver.Chrome()
urls="https://www.imdb.com/list/ls095964455/"
driver.get(urls)

In [37]:
Mname=[]
Myear=[]
genre=[]
M_RT=[]
Ratings=[]

In [38]:
#scraping the Movies Name
Mnames=driver.find_elements(By.XPATH,"//div[@class='lister-item-content']/h3/a")
for i in Mnames:
    try:
        Mname.append(i.text)
    except:
        Mname.append("--")
print(len(Mname))

100

In [39]:
#scraping the year the movie is produced
Myears=driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']")
for i in Myears:
    try:
        Myear.append(i.text)
    except:
        Myear.append("--")
print(len(Myear))

100

In [40]:
#scraping the genre of the movies
genres=driver.find_elements(By.XPATH,"//p[@class='text-muted text-small']/span[5]")
for i in genres:
    try:
        genre.append(i.text)
    except:
        genre.append("--")
print(len(genre))

100

In [41]:
#scraping the run time  of the movies
M_RTS=driver.find_elements(By.XPATH,"//p[@class='text-muted text-small']/span[3]")
for i in M_RTS:
    try:
        M_RT.append(i.text)
    except:
        M_RT.append("--")
print(len(M_RT))

100

In [45]:
#scraping the Ratings of the movies
Rating=driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']/span[2]")
for i in Rating:
    try:
        Ratings.append(i.text)
    except:
        Ratings.append("--")
print(len(Ratings))

100

In [43]:
#scraping the votes  of the movies
voting=[]
votings=driver.find_elements(By.XPATH,"//div[@class='lister-item-content']/p[4]/span[2]")
for i in votings:
    try:
        voting.append(i.text)
    except:
        voting.append("--")
print(len(voting))

100

In [46]:
MVI_Combined=pd.DataFrame([]) # Create a data frame to store the retrieved books
MVI_Combined['Movie_name']=Mname[:30]  # first 30 scrapped data
MVI_Combined['Movie_year']=Myear[:30] # first 30 scrapped data
MVI_Combined['Genre']=genre[:30] # first 30 scrapped data
MVI_Combined['Run_time']=M_RT[:30] # first 30 scrapped data
MVI_Combined['Ratings']=Ratings[:30] # first 30 scrapped data
MVI_Combined['voting']=voting[:30] # first 30 scrapped data
MVI_Combined # display only the 25 scrapped data

,Movie_name,Movie_year,Genre,Run_time,Ratings,voting
0,Game of Thrones,(2011‚Äì2019),"Action, Adventure, Drama",57 min,9.2,"2,176,698"
1,Stranger Things,(2016‚Äì2024),"Drama, Fantasy, Horror",51 min,8.7,"1,253,938"
2,The Walking Dead,(2010‚Äì2022),"Drama, Horror, Thriller",44 min,8.1,"1,033,746"
3,13 Reasons Why,(2017‚Äì2020),"Drama, Mystery, Thriller",60 min,7.5,"303,922"
4,The 100,(2014‚Äì2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"263,092"
5,Orange Is the New Black,(2013‚Äì2019),"Comedy, Crime, Drama",59 min,8.1,"310,904"
6,Riverdale,(2017‚Äì2023),"Crime, Drama, Mystery",45 min,6.5,"149,648"
7,Grey's Anatomy,(2005‚Äì ),"Drama, Romance",41 min,7.6,"324,284"
8,The Flash,(2014‚Äì2023),"Action, Adventure, Drama",43 min,7.5,"360,210"
9,Arrow,(2012‚Äì2020),"Action, Adventure, Crime",42 min,7.5,"438,962"
10,Money Heist,(2017‚Äì2021),"Action, Crime, Drama",70 min,8.2,"499,696"
11,The Big Bang Theory,(2007‚Äì2019),"Comedy, Romance",22 min,8.2,"832,965"
12,Black Mirror,(2011‚Äì ),"Drama, Mystery, Sci-Fi",60 min,8.7,"594,101"
13,Sherlock,(2010‚Äì2017),"Crime, Drama, Mystery",88 min,9.1,"955,770"
14,Vikings,(2013‚Äì2020),"Action, Adventure, Drama",44 min,8.5,"554,712"
15,Pretty Little Liars,(2010‚Äì2017),"Drama, Mystery, Romance",44 min,7.4,"172,693"
16,The Vampire Diaries,(2009‚Äì2017),"Drama, Fantasy, Horror",43 min,7.7,"333,183"
17,American Horror Story,(2011‚Äì ),"Drama, Horror, Sci-Fi",60 min,8,"328,398"
18,Breaking Bad,(2008‚Äì2013),"Crime, Drama, Thriller",49 min,9.5,"1,997,084"
19,Lucifer,(2016‚Äì2021),"Crime, Drama, Fantasy",42 min,8.1,"338,456"
20,Supernatural,(2005‚Äì2020),"Drama, Fantasy, Horror",44 min,8.4,"461,480"
21,Prison Break,(2005‚Äì2017),"Action, Crime, Drama",44 min,8.3,"554,890"
22,How to Get Away with Murder,(2014‚Äì2020),"Crime, Drama, Mystery",43 min,8.1,"158,535"
23,Teen Wolf,(2011‚Äì2017),"Action, Drama, Fantasy",41 min,7.7,"156,762"
24,The Simpsons,(1989‚Äì ),"Animation, Comedy",22 min,8.7,"419,888"
25,Once Upon a Time,(2011‚Äì2018),"Adventure, Fantasy, Romance",60 min,7.7,"230,313"
26,Narcos,(2015‚Äì2017),"Biography, Crime, Drama",49 min,8.8,"445,389"
27,Daredevil,(2015‚Äì2018),"Action, Crime, Drama",54 min,8.6,"455,661"
28,Friends,(1994‚Äì2004),"Comedy, Romance",22 min,8.9,"1,032,607"
29,How I Met Your Mother,(2005‚Äì2014),"Comedy, Drama, Romance",22 min,8.3,"703,933"

8. Details of Datasetsfrom UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code

In [146]:
# Open the web page
driver = webdriver.Chrome()
urls="https://archive.ics.uci.edu/"
driver.get(urls)

In [140]:
Sbutton = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')  # Click on Show All Dataset Page
Sbutton.click()

In [141]:
DName=[]
other_info=[]
Task=[]

In [142]:
#scraping the Dataset_Name by XPATH
DNames=driver.find_elements(By.XPATH,"//a[@class='link-hover link text-xl font-semibold']")
for i in DNames:
    try:
        DName.append(i.text)
    except:
        DName.append("--")
print(DName,len(DName))

['Iris', 'Heart Disease', 'Adult', 'Dry Bean Dataset', 'Diabetes', 'Rice (Cammeo and Osmancik)', 'Wine', 'Car Evaluation', 'Breast Cancer Wisconsin (Diagnostic)', 'Mushroom'] 10

In [143]:
#scraping the Dataset_Data type by XPATH
#/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div[1]/div/div[2]/div/div[1]/span
DTypes=driver.find_elements(By.XPATH,"//div[@class='my-2 hidden gap-4 md:grid grid-cols-12']")
for i in DTypes:
    try:
        other_info.append(i.text)
    except:
        other_info.append("--")
print(DType,len(DTypes))

['Classification\nMultivariate\n150 Instances\n4 Attributes', 'Classification\nMultivariate\n303 Instances\n13 Attributes', 'Classification\nMultivariate\n48.84K Instances\n14 Attributes', 'Classification\nMultivariate\n13.61K Instances\n17 Attributes', '20 Attributes', 'Classification\nMultivariate\n3.81K Instances\n8 Attributes', 'Classification\nMultivariate\n178 Instances\n13 Attributes', 'Classification\nMultivariate\n1.73K Instances\n6 Attributes', 'Classification\nMultivariate\n569 Instances\n30 Attributes', 'Classification\nMultivariate\n8.12K Instances\n22 Attributes', 'Classification', 'Multivariate', '150 Instances', '4 Attributes', 'Classification', 'Multivariate', '303 Instances', '13 Attributes', 'Classification', 'Multivariate', '48.84K Instances', '14 Attributes', 'Classification', 'Multivariate', '13.61K Instances', '17 Attributes', '', '', '', '20 Attributes', 'Classification', 'Multivariate', '3.81K Instances', '8 Attributes', 'Classification', 'Multivariate', '178 Instances', '13 Attributes', 'Classification', 'Multivariate', '1.73K Instances', '6 Attributes', 'Classification', 'Multivariate', '569 Instances', '30 Attributes', 'Classification', 'Multivariate', '8.12K Instances', '22 Attributes', 'Classification', 'Multivariate', '150 Instances', '4 Attributes', 'Classification', 'Multivariate', '303 Instances', '13 Attributes', 'Classification', 'Multivariate', '48.84K Instances', '14 Attributes', 'Classification', 'Multivariate', '13.61K Instances', '17 Attributes', '', '', '', '20 Attributes', 'Classification', 'Multivariate', '3.81K Instances', '8 Attributes', 'Classification', 'Multivariate', '178 Instances', '13 Attributes', 'Classification', 'Multivariate', '1.73K Instances', '6 Attributes', 'Classification', 'Multivariate', '569 Instances', '30 Attributes', 'Classification', 'Multivariate', '8.12K Instances', '22 Attributes', 'Classification', 'Multivariate', '150 Instances', '4 Attributes', 'Classification', 'Multivariate', '303 Instances', '13 Attributes', 'Classification', 'Multivariate', '48.84K Instances', '14 Attributes', 'Classification', 'Multivariate', '13.61K Instances', '17 Attributes', '', '', '', '20 Attributes', 'Classification', 'Multivariate', '3.81K Instances', '8 Attributes', 'Classification', 'Multivariate', '178 Instances', '13 Attributes', 'Classification', 'Multivariate', '1.73K Instances', '6 Attributes', 'Classification', 'Multivariate', '569 Instances', '30 Attributes', 'Classification', 'Multivariate', '8.12K Instances', '22 Attributes', 'Classification\nMultivariate\n150 Instances\n4 Attributes', 'Classification\nMultivariate\n303 Instances\n13 Attributes', 'Classification\nMultivariate\n48.84K Instances\n14 Attributes', 'Classification\nMultivariate\n13.61K Instances\n17 Attributes', '20 Attributes', 'Classification\nMultivariate\n3.81K Instances\n8 Attributes', 'Classification\nMultivariate\n178 Instances\n13 Attributes', 'Classification\nMultivariate\n1.73K Instances\n6 Attributes', 'Classification\nMultivariate\n569 Instances\n30 Attributes', 'Classification\nMultivariate\n8.12K Instances\n22 Attributes'] 10

In [144]:
#scraping the Dataset_Name by XPATH
Tasks=driver.find_elements(By.XPATH,"//p[@class='truncate']")
for i in Tasks:
    try:
        Task.append(i.text)
    except:
        Task.append("--")
print(Task,len(Task))

['A small classic dataset from Fisher, 1936. One of the earliest datasets used for evaluation of classification methodologies.', '4 databases: Cleveland, Hungary, Switzerland, and the VA Long Beach', 'Predict whether income exceeds $50K/yr based on census data. Also known as "Census Income" dataset.', 'Images of 13,611 grains of 7 different registered dry beans were taken with a high-resolution camera. A total of 16 features; 12 dimensions and 4 shape forms, were obtained from the grains.', "This diabetes dataset is from AIM '94", "A total of 3810 rice grain's images were taken for the two species, processed and feature inferences were made. 7 morphological features were obtained for each grain of rice.", 'Using chemical analysis determine the origin of wines', 'Derived from simple hierarchical decision model, this database may be useful for testing constructive induction and structure discovery methods.', 'Diagnostic Wisconsin Breast Cancer Database.', 'From Audobon Society Field Guide; mushrooms described in terms of physical characteristics; classification: poisonous or edible'] 10

In [145]:
DST_Combined=pd.DataFrame([]) # Create a data frame to store the retrieved books
DST_Combined['Dataset_name']=DName  # first 30 scrapped data
DST_Combined['other_Info']=other_info # first 30 scrapped data
DST_Combined['Task']=Task # first 30 scrapped data

DST_Combined # display only the 25 scrapped data

,Dataset_name,other_Info,Task
0,Iris,Classification\nMultivariate\n150 Instances\n4...,"A small classic dataset from Fisher, 1936. One..."
1,Heart Disease,Classification\nMultivariate\n303 Instances\n1...,"4 databases: Cleveland, Hungary, Switzerland, ..."
2,Adult,Classification\nMultivariate\n48.84K Instances...,Predict whether income exceeds $50K/yr based o...
3,Dry Bean Dataset,Classification\nMultivariate\n13.61K Instances...,"Images of 13,611 grains of 7 different registe..."
4,Diabetes,20 Attributes,This diabetes dataset is from AIM '94
5,Rice (Cammeo and Osmancik),Classification\nMultivariate\n3.81K Instances\...,A total of 3810 rice grain's images were taken...
6,Wine,Classification\nMultivariate\n178 Instances\n1...,Using chemical analysis determine the origin o...
7,Car Evaluation,Classification\nMultivariate\n1.73K Instances\...,Derived from simple hierarchical decision mode...
8,Breast Cancer Wisconsin (Diagnostic),Classification\nMultivariate\n569 Instances\n3...,Diagnostic Wisconsin Breast Cancer Database.
9,Mushroom,Classification\nMultivariate\n8.12K Instances\...,From Audobon Society Field Guide; mushrooms de...

9: Scrape the details of Data science recruiters Url = https://www.naukri.com/hr-recruiters-consultants
You have to find the following details: 
A) Name
B) Designation
C)Company 
D)Skills they hire for 
E) Locatio

In [191]:
# Open the web page
driver = webdriver.Chrome()
urls="https://www.naukri.com/data-science-jobs?k=data%20science"
driver.get(urls)

In [192]:
JTitle =[]
C_Name=[]
Skill=[]
Salary=[]
Location=[]

In [193]:
#scraping the Job_Title 
jt=driver.find_elements(By.XPATH,"//a[@class='title ellipsis']")
for i in jt:
    try:
        JTitle.append(i.text)
    except:
        JTitle.append("--")
print(len(JTitle),JTitle)

20 ['Sr. Product Manager (Data Science, AI/ML)', 'Sr Product Manager (Data Science/AI/ML)', 'Sr Analyst - Data Science and Analytics', 'Data Science Engineer', 'L&D Trainer - Python & Data Science/Data Analytics', 'Lead - Data Science - Financial Services', 'Head - Data Science & Analytics - Bank', 'Engineer II- Data Science & Analytics', 'Manager/Senior Manager - Data Science', 'Senior Analyst, Data Science', 'Data Science Manager', 'Entry Data Science Specialist', 'AI/ML Developer - Python Programming and Data Science', 'Sr Programmer - Python / Data Science Developer', 'Data Science Analytics Sr Analyst - Data Science', 'Manager Data Science', 'Data Science Engineer', 'Demand Planning & Data Science Manager', 'Software Engineer, Data Science', 'Unit Manager - Payments - Data Science/Senior Unit Manager']

In [199]:
#scraping the Company_Name 
cn=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in cn:
    try:
        C_Name.append(i.text)
    except:
        C_Name.append("--")
print(len(C_Name),C_Name)

20 ['Blue Yonder', 'Blue Yonder', 'Transunion', 'Arbeit Associates', 'AVE-Promagne Business Solutions', 'Dimensions HRD Consultants', 'Dimensions HRD Consultants', 'Raytheon Technologies', 'Axtria India', 'DUN BRADSTREET INFORMATION SERVICES INDIA PRIVATE LIMITED', 'Conde Nast India', 'Camp Dresser & Mckee', 'Freestone Infotech Private Limited', 'Ajanta Pharma', 'Accenture', 'Mondelez', 'Bizongo', 'Bajaj Electricals', 'Epiq Systems', 'Bajaj Finserv Ltd.']

In [196]:
#scraping the Salary
sal=driver.find_elements(By.XPATH,"//li[@class='fleft br2 placeHolderLi salary']")
for i in sal:
    try:
        Salary.append(i.text)
    except:
        Salary.append("--")
print(len(Salary),Salary)

20 ['Not disclosed', '50,000 PA', 'Not disclosed', '12-18 Lacs PA', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', '40-55 Lacs PA', 'Not disclosed', 'Not disclosed', '6-12 Lacs PA', 'Not disclosed', 'Not disclosed', '20-30 Lacs PA', '15-20 Lacs PA', 'Not disclosed', 'Not disclosed']

In [197]:
#scraping the Location 
loc=driver.find_elements(By.XPATH,"//li[@class='fleft br2 placeHolderLi location']/span")
for i in loc:
    if i.text is None :
        Location.append("--") 
    else:
        Location.append(i.text)
print(len(Location),Location)

20 ['Bangalore/Bengaluru', 'Remote', 'Pune, Chennai', 'Hybrid - Gurgaon/ Gurugram, Haryana, Bangalore/ Bengaluru, Karnataka', 'Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Ahmedabad, Delhi / NCR, Bangalore/Bengaluru', 'Gurgaon/Gurugram', 'Gurgaon/Gurugram', 'Hybrid - Bangalore/ Bengaluru, Karnataka(Yelahanka)', 'Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Bangalore/Bengaluru', 'Hyderabad/Secunderabad', 'Hybrid - Bangalore/ Bengaluru, Karnataka', 'Bangalore/Bengaluru', 'Mumbai (All Areas)', 'Mumbai, Maharashtra, Mumbai Suburban, Maharashtra', 'Mumbai', 'Mumbai', 'Bangalore/Bengaluru', 'Mumbai (All Areas)', 'Hybrid - Hyderabad/Secunderabad', 'Pune']

In [198]:
#scraping the Skill 
sk=driver.find_elements(By.XPATH,"//ul[@class='tags has-description']")
for i in sk:
    if i.text is None :
        Skill.append("--") 
    else:
        Skill.append(i.text)
print(len(Skill),Skill)

20 ['SR\nMarketing\nData Science\nAnalytical\nManagement\nMarket research\nIntelligence\nDevelopment', 'Data Science\nproduct manager\nMachine\nScience\nArtificial Intelligence\nProduct management\nMachine learning\nMl', 'Analytics\nFinance\nBusiness intelligence\nQuality control management\nIntelligence\nAuditing\nData\nOperations', 'SQL\nPython\nData Science\nData analytics\nTableau\nProgram\nScience\nData', 'Python\nMachine\nScience\nDevelopment\nMachine learning\nData Science\nTraining\nStatistics', 'Data Science\nFinancial services\nScience\nData modeling\nData\nAnalytics\nFinance\nData analytics', 'Data Analytics\nData Science\nScience\nData modeling\nData\nIntelligence\nAnalytics\nBusiness intelligence', 'Data Science\nstatistical modeling\nmachine learning\nDeep Learning\nsql\nAgile\nScience\nData', 'Data Science\nNatural language processing\nData management\nShiny\nData Pipeline\nManagement\nIntelligence\nData quality', 'Analysis\nAnalytical\nData Science\nData analysis\nMonitoring\nData\nMachine\nPython', 'python\ndata science\nDeep Learning\nsql\ncommunication skills\nMachine\nPredictive\nPredictive modeling', 'Computer vision\nIntelligence\nMachine\nData collection\nData analysis\nData\nNeural networks\nBusiness intelligence', 'python\ndata science\nTensorflow\nFramework\nDeep Learning\nLanguages\nDevelopment\nTraining', 'Data Modeling\nPython\nStatistics\nData Science\nETL\nNumpy\nExtraction\nData extraction', 'Data Science\nCloud\nInsights\nSR\nBusiness Insight\nScience\nData analysis\nBusiness Insights', 'Pattern recognition\nSAP\nData Science\nAnalytics\nDesign patterns\nData\nMetadata\nManagement', 'Vision\nAnalytics\nDeep Learning\nNetworking\nTensorflow\nIntelligence\nProcess\nDesign', 'demand planning\nAnalytics\nData\nPlanning\nScience\nData Science\nForecasting\nManagement', 'Data Science\nSpark\nScikit-learn\nKeras\nSoftware development\nSoftware engineering\nTensorflow\nUI development', 'DBMS\nPython\nArchitecture\nData management\nDatabase design\nQuality assurance\nPerformance tuning\nPerformance']

In [200]:
Info_Combined=pd.DataFrame([]) # Create a data frame to store the retrieved books
Info_Combined['Job_Title']=JTitle  
Info_Combined['Job_Name']= C_Name 
Info_Combined['Skill']=Skill 
Info_Combined['Salary']=Salary
Info_Combined['Location']=Location
Info_Combined

,Job_Title,Job_Name,Skill,Salary,Location
0,"Sr. Product Manager (Data Science, AI/ML)",Blue Yonder,SR\nMarketing\nData Science\nAnalytical\nManag...,Not disclosed,Bangalore/Bengaluru
1,Sr Product Manager (Data Science/AI/ML),Blue Yonder,Data Science\nproduct manager\nMachine\nScienc...,"50,000 PA",Remote
2,Sr Analyst - Data Science and Analytics,Transunion,Analytics\nFinance\nBusiness intelligence\nQua...,Not disclosed,"Pune, Chennai"
3,Data Science Engineer,Arbeit Associates,SQL\nPython\nData Science\nData analytics\nTab...,12-18 Lacs PA,"Hybrid - Gurgaon/ Gurugram, Haryana, Bangalore..."
4,L&D Trainer - Python & Data Science/Data Analy...,AVE-Promagne Business Solutions,Python\nMachine\nScience\nDevelopment\nMachine...,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,..."
5,Lead - Data Science - Financial Services,Dimensions HRD Consultants,Data Science\nFinancial services\nScience\nDat...,Not disclosed,Gurgaon/Gurugram
6,Head - Data Science & Analytics - Bank,Dimensions HRD Consultants,Data Analytics\nData Science\nScience\nData mo...,Not disclosed,Gurgaon/Gurugram
7,Engineer II- Data Science & Analytics,Raytheon Technologies,Data Science\nstatistical modeling\nmachine le...,Not disclosed,"Hybrid - Bangalore/ Bengaluru, Karnataka(Yelah..."
8,Manager/Senior Manager - Data Science,Axtria India,Data Science\nNatural language processing\nDat...,Not disclosed,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G..."
9,"Senior Analyst, Data Science",DUN BRADSTREET INFORMATION SERVICES INDIA PRIV...,Analysis\nAnalytical\nData Science\nData analy...,Not disclosed,Hyderabad/Secunderabad
10,Data Science Manager,Conde Nast India,python\ndata science\nDeep Learning\nsql\ncomm...,40-55 Lacs PA,"Hybrid - Bangalore/ Bengaluru, Karnataka"
11,Entry Data Science Specialist,Camp Dresser & Mckee,Computer vision\nIntelligence\nMachine\nData c...,Not disclosed,Bangalore/Bengaluru
12,AI/ML Developer - Python Programming and Data ...,Freestone Infotech Private Limited,python\ndata science\nTensorflow\nFramework\nD...,Not disclosed,Mumbai (All Areas)
13,Sr Programmer - Python / Data Science Developer,Ajanta Pharma,Data Modeling\nPython\nStatistics\nData Scienc...,6-12 Lacs PA,"Mumbai, Maharashtra, Mumbai Suburban, Maharashtra"
14,Data Science Analytics Sr Analyst - Data Science,Accenture,Data Science\nCloud\nInsights\nSR\nBusiness In...,Not disclosed,Mumbai
15,Manager Data Science,Mondelez,Pattern recognition\nSAP\nData Science\nAnalyt...,Not disclosed,Mumbai
16,Data Science Engineer,Bizongo,Vision\nAnalytics\nDeep Learning\nNetworking\n...,20-30 Lacs PA,Bangalore/Bengaluru
17,Demand Planning & Data Science Manager,Bajaj Electricals,demand planning\nAnalytics\nData\nPlanning\nSc...,15-20 Lacs PA,Mumbai (All Areas)
18,"Software Engineer, Data Science",Epiq Systems,Data Science\nSpark\nScikit-learn\nKeras\nSoft...,Not disclosed,Hybrid - Hyderabad/Secunderabad
19,Unit Manager - Payments - Data Science/Senior ...,Bajaj Finserv Ltd.,DBMS\nPython\nArchitecture\nData management\nD...,Not disclosed,Pune